<div class="card">
  <div class="card-header">

    <span class="flight-date">{{flight.takeoffdate}}</span>
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{flight.airline.name}}</h5>
    <span class="text-muted">{{printType(flight.typee)}}</span>
    <div class="row">
      <div class="col-sm-5 destination-text">
        {{flight.destination.airport1.name}}
      </div>
      <div class="col-sm-2" style="margin-top: 1em;">
       -
      </div>
      <div class="col-sm-5 destination-text">
        {{flight.destination.airport2.name}}
      </div>
    </div>
<!--    <p class="card-text">{{flight.destination.airport1.name}}-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;{{flight.destination.airport2.name}}</p>-->
  </div>
  <div class="card-footer ">
    <span class="seats-number text-muted">Seats available:{{flight.availabletickets}}</span>
    <span>

      <a href  class="nav-link ticket-link" (click)="ticketReservation(flight)">Rezerviši mesto</a>
    </span>

  </div>
</div>
