<div class="container">
  <div class="row justify-content-center">

    <!--    <div class="col-md-4">-->
    <!--&lt;!&ndash;      FILTERI&ndash;&gt;-->
    <!--      <div class="card">-->
    <!--        <div class="card-header">-->
    <!--         FILTERI-->
    <!--        </div>-->
    <!--        <div class="card-body text-center">-->
    <!--          <h5 class="card-title">TO DO</h5>-->
    <!--          <span class="text-muted">TO DO</span>-->
    <!--          <div class="row">-->
    <!--            <div class="col-sm-5 destination-text">-->
    <!--              TO DO-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          &lt;!&ndash;    <p class="card-text">{{flight.destination.airport1.name}}-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;{{flight.destination.airport2.name}}</p>&ndash;&gt;-->
    <!--        </div>-->
    <!--        <div class="card-footer ">-->
    <!--        TO DO-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    class="col-md-8"-->
    <div >
      <!--      LETOVI-->
      <app-flight-list [flightList]="flights"></app-flight-list>
    </div>
  </div>
</div>
