
<div class="container">
  <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
    <div class="card-body ">
      <div class="row">
        <div class="col-12 ">
          <h4 class="card-title "><b>{{airline.name}}</b></h4>
        </div>
        <div class="col">
          <h6 class="card-subtitle mb-2 text-muted">
            <p class="card-text text-muted small ">  Company info: <span class="font-weight-bold"> {{airline.companyinfo}}</span></p>
            <p class="card-text text-muted small ">  Luggage info: <span class="font-weight-bold"> {{airline.luggageinfo}}</span></p>

          </h6>
        </div>
      </div>
    </div>
    <div class="card-footer bg-white px-0 ">
      <div class="row">
        <div class=" col-md-auto "> <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s"> </a> <a href="#" class="btn btn-outlined btn-black text-muted "><img src="https://img.icons8.com/metro/26/000000/more.png" width="20" height="20" class="mr-2 more"><small>Comments</small></a> <span class="vl ml-3"></span> </div>
        <div class="col-md-auto ">
          <ul class="list-inline">
            <li class="list-inline-item">  </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
