
<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><img alt="logo" class="logo" src="assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav-items navbar-nav mr-auto w-100">
        <li class="nav-item">
          <a href class="nav-link" routerLink="/admin" *ngIf="isAdmin">Add Flight</a>
        </li>
        <li class="nav-item active">
          <a href class="nav-link" routerLink="/flights">Flights</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" routerLink="/airlines">Airlines</a>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

      </ul>
      <ul class="navbar-nav mr-auto justify-content-lg-end">
        <li *ngIf="isLogged()" class="nav-item">
          <a href class="nav-link" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="!isLogged()" class="nav-item active">
          <a href  class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isLogged()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
