<div class="container">
<div class="card">
  <div class="card-header">
    <span class="flight-date">{{flight.takeoffdate }}</span>
    <span class="col-lg-2  seats-number text-muted">Seats available:{{flight.availabletickets}}</span>

  </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{flight.airline.name}}</h5>
    <span class="text-muted">{{printType(flight.typee)}}</span>
    <div class="row">
      <div class="col-lg-5 ">
       Departure city: {{flight.destination.airport1.city}} <br>
       Departure airport {{flight.destination.airport1.name}}<br>
      </div>
      <div class="col-lg-5 ">
        Arrival city: {{flight.destination.airport2.city}}<br>
        Arrival airport: {{flight.destination.airport2.name}}<br>
      </div>
    </div>
  </div>
  <div class="card-footer ">
        <div *ngIf="discount==='No'" class="row">
          <div class="col-lg-6"> Economic price:  {{ticket.priceeconomics}}           <button class="btn btn-success" (click)="ticketReservation(flight)">Rezerviši</button></div>
          <div class="col-lg-6">  Business price:  {{ticket.pricebusiness}}            <button class="btn btn-success" (click)="ticketReservation(flight)">Rezerviši</button></div>
        </div>
        <div *ngIf="discount==='Yes'" class="row">
          <div class="col-lg-6">Economic price with discount: {{ticketWithDiscount.priceeconomics}}     <button class="btn btn-success" (click)="ticketReservation(flight)">Rezerviši</button></div>
          <div class="col-lg-6"> Business price with discount: {{ticketWithDiscount.pricebusiness}}      <button class="btn btn-success" (click)="ticketReservation(flight)">Rezerviši</button> </div>
        </div>
  </div>
</div>
</div>
